.container-product {
    background-color: rgba(244, 245, 244, 255);
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.container-nav  {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: rgba(254,255,254,255);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 2;
  height: 81px;
  }
  
  .container-nav  h1 {
    margin-left: 132px;
    margin-right: 132px;
    font-size: 32px;
    margin-top: 20px;
    height: 30px;
    border-right: 2px solid #ccc;
    padding-right: 100px;
}

.container-sub {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* .link-cart {
padding-top: auto 40px;
} */

.link-home {
    background-color: #7b9971;
    color: #333333;
    padding: 1px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .link-home:hover {
    background-color: #f5f5f5;
  }
  
  .link-home:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
  }
  
  .link-home:active {
    background-color: #ebebeb;
  }
  
  .container-image {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .container-info-product {
    display: flex;
    align-items: center;
    justify-content:center;
  }

  .container-evaluation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #FFFF;
    /* justify-content: space-between; */
  }

  .container-evaluation div {
    margin-top: 10px;
    margin-right: 50px;
    display: flex;
  }
  .container-evaluation div form {
    margin-right: 300px;

  }
  .espaco {
    width: 100%;
    height: 90px;
  }

  .add-carrinho {
    display: flex;
    flex-direction: column;
  }