.main-container {
    background-color: rgba(244,245,244,255);
    display: flex;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(254,255,254,255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
    height: 81px;
}

.header-container h1 {
  margin-left: 132px;
  margin-right: 132px;
  font-size: 32px;
  margin-top: 20px;
  height: 30px;
  border-right: 2px solid #ccc;
  padding-right: 100px;
  
}

.search-container {
    /* background-color:black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input-search {
    margin-top: 20px;
    width: 300px;
    height: 30px;
}

.botao-search {
  background-color: black;
    width: fit-content;
    min-width: 100px;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
  }
  
  .botao-search:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
  }
  
  .botao-search:active {
    transform: scale(0.95);
  }



  /* Estilizando o link do carrinho de compras */
.link-cart {
    display: inline-block;
    padding: 25px 15px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-cart:hover {
    background-color: #ddd;
  }
  
  .link-cart:active {
    background-color: #bbb;
  }
  
  /* Estilizando o texto do carrinho de compras */
  .link-cart span {
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .home-section {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }

  .product-conteiner select{
    margin-top: 20px;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .select-options {
    margin-top:10px;
    margin-left: 11px;
    margin-bottom: 20px;
  }
  .custom-svg {
    width: 3.25em;
    transform-origin: center;
    animation: custom-rotate 2s linear infinite;
  }

  .custom-circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: custom-dash 1.5s ease-in-out infinite;
  }

  @keyframes custom-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes custom-dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dashoffset: -125px;
    }
  }
   