.container-details {
    background-color: rgba(244, 245, 244, 1);
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.container-cartNavigation {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgba(254,255,254,255);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 2;
    height: 81px;
}


.container-cartNavigation  h1 {
    margin-left: 132px;
    margin-right: 132px;
    font-size: 32px;
    margin-top: 20px;
    height: 30px;
    border-right: 2px solid #ccc;
    padding-right: 100px;
}

.container-cart-products {
    padding: 20px;
    background-color: wheat;
    margin-top: 30px;
    width: 1000px;
    height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.container-cartImage div {
    display: flex;
    flex-direction: row;
    align-items:center;
}

btn-delete {
    width: fit-content;
    min-width: 100px;
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    border: 2.5px solid #E0E1E4;
    box-shadow: 0px 0px 20px -20px;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s ease-in-out 0ms;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

btn-delete:hover {
    background-color: #F2F2F2;
    box-shadow: 0px 0px 20px -18px;
}

btn-delete:active {
    transform: scale(0.95);
}

.container-cartImage img {
      margin-right:100px;
        margin-left: 30px;
  }