.App {
    max-width: 1200px; /* Largura máxima do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
    padding: 20px;
}

body {
    background-color: rgba(244, 245, 244, 1);
  }
  